<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Insult Detector </title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Insult Detector</h1>

     <!-- Input form that sends data to model for prediction -->
   <form action="{{ url_for('predict')}}" method="POST">
		<p>Enter comment here:</p>
		<textarea name="comment" rows="6" cols="60">{{value}}</textarea>
		<br/>

		<input type="submit" class="btn-info" value="Predict">
   </form>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>